@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@media all and (orientation: portrait) {
    .z1 {
        font-size: 10em;
    }
    
    .z2 {
        font-size: 3em;
    }



  }
  
  @media all and (orientation: landscape) {
    .z1 {
        font-size: 4em;
    }
    
    .z2 {
        font-size: 1em;
    }

    .stats {
        top: 98vh;
        z-index: 55;
        position: fixed;
        /* filter: blur(2px); */
        height: 2vh;
    
    }
  }

.reset-f {
    text-decoration: none;
    color: white;
}

.footer {
    font-family: 'Poppins', sans-serif;
    position: relative;
    color: white;
    z-index: 5;
    height: 3%;
    width: 100%;
    justify-content: center;
    display: flex;
    font-size: 2vh;
}

* {
    /* cursor: none; */
}

.block {
    position: relative;
    z-index: 5;
    color: white;
    font-family: 'Poppins', sans-serif;
    height: 97%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
}

.text_logo {
    font-weight: 500;
}

.subtext {
    font-weight: 300;
    text-decoration: none;
    color: white;
    margin-top: 1vh;
}

body {
    background-color: black;
    padding:0;
    height: 100vh;
    width: 100%;
    margin:0;
    overflow:hidden;
	/* height: 600px; */
}
canvas {
    padding:0;
    margin:0;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
div.btnbg {
    position:fixed;
    left:0;
    top:0;
    box-shadow: 0px 0px 15px #ccc;
}
div.btnbg:hover{
    text-shadow: 0px 0px 3px #ccc;
    box-shadow: 0px 0px 20px #ccc;
}


\



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@media all and (orientation: portrait) {
    .z1 {
        font-size: 8vh;
    }
    
    .z2 {
        font-size: 2.5vh;
    }

    .stats {
        top: 99vh;
        z-index: 55;
        position: fixed;
        /* filter: blur(2px); */
        height: 1vh;
    
    }
  }
  
  @media all and (orientation: landscape) {
    .z1 {
        font-size: 12vh;
    }
    
    .z2 {
        font-size: 3vh;
    }

    .stats {
        top: 98vh;
        z-index: 55;
        position: fixed;
        /* filter: blur(2px); */
        height: 2vh;
    
    }
  }

.reset-f {
    text-decoration: none;
    color: white;
}

.stats

.footer {
    font-family: 'Poppins', sans-serif;
    position: relative;
    color: white;
    z-index: 5;
    height: 3%;
    width: 100%;
    justify-content: center;
    display: flex;
    font-size: 2vh;
}

* {
    /* cursor: none; */
}

.block {
    position: relative;
    z-index: 5;
    color: white;
    font-family: 'Poppins', sans-serif;
    height: 97%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
}

.text_logo {
    font-weight: 500;
}

.subtext {
    font-weight: 300;
    text-decoration: none;
    color: white;
    margin-top: 1vh;
}

body {
    background-color: black;
    padding:0;
    height: 100vh;
    width: 100%;
    margin:0;
    overflow:hidden;
	/* height: 600px; */
}
canvas {
    padding:0;
    margin:0;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
div.btnbg {
    position:fixed;
    left:0;
    top:0;
    box-shadow: 0px 0px 15px #ccc;
}
div.btnbg:hover{
    text-shadow: 0px 0px 3px #ccc;
    box-shadow: 0px 0px 20px #ccc;
}
